---
import {convertPathToHtml} from "../../../utils/index.js";
const {path, mainPage, page} = Astro.props;
const htmlPath = convertPathToHtml(path);
---

<!--begin::Sidebar-->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <!--begin::Sidebar Brand-->
  <div class="sidebar-brand">
    <!--begin::Brand Link-->
    <a href={htmlPath + "/index.html"} class="brand-link">
      <!--begin::Brand Image-->
      <img
        src="https://www.highgo.ca/wp-content/uploads/2020/02/cropped-highgo-1920x894.png"
        alt="HighGo Logo"
        class="brand-image"
      />
      <!--end::Brand Image-->
      <!--begin::Brand Text-->
      <span class="brand-text fw-light">HighGo Software</span>
      <!--end::Brand Text-->
    </a>
    <!--end::Brand Link-->
  </div>
  <!--end::Sidebar Brand-->
  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <!--begin::Sidebar Menu-->
      <ul
        class="nav sidebar-menu flex-column"
        data-lte-toggle="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-header">Pages</li>
        <li class="nav-item">
          <a href="../dashboard.html" class="nav-link">
            <i class="nav-icon bi bi-speedometer"></i>
            <p class="text">Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../operations.html" class="nav-link">
            <i class="nav-icon bi bi-graph-up"></i>
            <p>Operations</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../tables.html" class="nav-link">
            <i class="nav-icon bi bi-table"></i>
            <p>Tables</p>
          </a>
        </li>
        <li class="nav-header">User</li>
        <li class="nav-item">
          <a href="../settings.html" class="nav-link">
            <i class="nav-icon bi bi-gear"></i>
            <p>Settings</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../auth/login.html" class="nav-link">
            <i class="nav-icon bi bi-person-circle"></i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
      <!--end::Sidebar Menu-->
    </nav>
  </div>
  <!--end::Sidebar Wrapper-->
</aside>
<!--end::Sidebar-->
